backend/node_modules
backend/yarn.lock
backend/package-lock.json
backend/.env

frontend/node_modules
frontend/yarn.lock
frontend/package-lock.json
frontend/.env

sign/node_modules
sign/yarn.lock
sign/package-lock.json
sign/.env