@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
    font-family: 'Poppins' , sans-serif;
}
body {
    background-color: #000;
}
#home {
    min-height: 100dvh;
}
#footer {
    background-image: url('./assets//footer-bg.png');;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: scroll;
    min-height: 45dvh;
}